{% extends 'layouts/base.html' %}

{% block content %}

<h1>Tasks</h1>

<!-- note: this is a chentask -->
{% for task in tasks %}

<div>
    <h2>{% if task.done == False %} ⏲ {% else %} 🍋 {% endif %}
    {{task.title}}</h2>

    {% if task.done == False%}
    <p>Tarea pendiente</p>
    {% else %}
    <p>Tarea realizada</p>
    {% endif %}



    <p>{{task.description}}</p>
    <p>Project: {{task.project}}</p>
    <button>
        
        Delete
    </button>
    <button>
        ☑ Great Job!
    </button>
</div>

{% endfor %}

{% endblock %}